.header {
  background-color: #f9f9f9;
  padding: 1.2rem;
  padding-top: 1rem;
  font-size: 1.2rem;
  box-shadow: 1px 1px 1px #e0e1e1;
  display: flex;
}

.portfolioTitle {
  margin-left: 1rem;
  font-weight: 700;
}

.jaLink {
  margin-right: 0;
  margin-left: auto;
}
