.flexContainer {
  margin-top: 7em;
}

.profileText {
  line-height: 1.5;
  text-align: left;
  display: inline-block;
}

.profileImage {
  margin: 0 auto;
  text-align: center;
  z-index: -1;
  position: relative;
}

.profileName {
  text-align: center;
}

.profileTextWrapper {
  text-align: center;
}

@media screen and (min-width: 769px) {
  .flexContainer {
    display: flex;
  }
  .profileText {
    line-height: 1.5;
    display: inline-block;
    text-align: left;
    width: 100%;
  }
  .profileName {
    text-align: left;
    width: 100%;
  }
  .profileTextWrapper {
    text-align: center;
    width: 50%;
    height: 1rem;
  }
}
