/* border-header */
.headBorder {
  border-bottom: 1px dashed black;
}

.flexContainer{
  text-align: center; 
}

.profileText {
  line-height: 1.5;
}

.profileImage {
  margin: 0 auto;
}
.profileText {
  /* margin-left: 4rem; */
  line-height: 1.5; 
}

@media screen and (min-width:769px){
  .flexContainer{
    display: flex;
    text-align: left; 
  }
  .profileText {
    margin-left: 4rem;
    line-height: 1.5; 
  }
}
/* ここまで */

.heading2Xl {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1rem;
  line-height: 1.5;
}

.borderCircle {
  border-radius: 30px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.paddingTop1rem {
  margin-top: 3rem;
}

.paddingLeft {
  padding-left: 1rem;
}

.paddingRight {
  padding-right: 1rem;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #666;
}

.footer {
  text-align: center;
  /* margin: 0 auto; */
  background-color: slategray;
  height: 8rem;
  padding: 1.5rem;
  font-size: 1.2rem;
}

.snsIcons {
  margin: 0 1rem;
  color: black !important;
}

.snsIcons:hover{
  opacity: 0.5 ;
  transition: .4s;
}